*{
    font-family: 'Inter', sans-serif;
}
.text_color{
    color: white
}
.user_imag{
    max-width: 15px;
    vertical-align: top;
}

.background {
    background-color: gray;
}

table{
    width: 70%;
    height: 600px;
}

.background_gray{
    background-color: gray;
}

.background_red{
    background-color: red;
}

.background_green{
    background-color: green;  
}
.background_green:hover{
    background-color: rgb(7, 64, 7);  
}

.background_white{
    background-color: white;
}
table{
    border-collapse:collapse;

}
.cel_style{
    border: 1px solid #333;
    width: 120px;
    height: 45px;
    text-align: center;
    cursor: pointer;
}
.button_style{
    padding: 15px;
    border-radius: 10px;
    border-style: none;
    font-family: 'Inter', sans-serif;
    width: 160px;
    margin: 40px auto 20px auto;
    color: #fff;
}
.blue_background{
    background-color: #0729d8;
}