* {
    margin: 0;
    padding: 0;
}

.fundo-azul {
    background: blue;
}

.fundo-pink {
    background: pink;
}

.fundo-cinza {
    background: grey;
}

.fundo-azul-claro {
    background: lightblue;
}

.fundo-amarelo {
    background: yellow;
}

.height {
    height: 100vh;
}