*{
    margin: 0;
}
body {
    display: flex;
    align-items: center;
}

.column {
    width: 300px;
    background-color: green;
}

.main {
    width: 300px;
    background-color: pink;
}

.logo {
    width: 150px;
    
}
.forms{
    border: 1px solid #111;
}