@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

:root {
    --main-color: #636464;
    --light-main-color: #c3c4ca;
    --dark-main-color: #5c5b5d;
    --secondary-color: #0729d8;
    --light-secondary-color: #7096d1;
    --terciary-color: white;
}

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100vw;
    max-height: 100vh;
}

body {
    min-height: 100vh;
}


.logo {
    padding-top: 1em;
    display: flex;
}

.small-logo {
    width: 4em;
    height: 4em;
    border-radius: 50%;
}


.large-logo {
    display: none;
   
}

.large-logo.active {
    align-content: center;
    padding-right: 1.5em;
    padding-left: 0.5em;
    color: #fff;
    display: block;
    font-size: 30px;
    margin-top: 1vh;
}

.navigation {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background: var(--secondary-color);
    border-left: 0.5em solid var(--secondary-color);
    width: 4.5em;
    box-sizing: initial;
    transition: 0.5s;
    overflow-x: hidden;
    z-index: 1;
    max-height: 100vh;
}

.navigation.active {
    width: 18em;
}

.navigation ul {
    position: absolute;
    top: 8em;
    left: 0;
    width: 100%;
    padding-left: 0.5em;
    padding-top: 2.5em;
}

.navigation ul li {
    position: relative;
    list-style: none;
    width: 100%;
    border-top-left-radius: 1.25em;
    border-bottom-left-radius: 1.25em;
    margin-bottom: 3em;
}

.navigation ul li.active {
    background: var(--light-main-color);
}

.navigation ul li b:nth-child(1) {
    position: absolute;
    top: -20px;
    height: 20px;
    width: 100%;
    background: var(--light-main-color);
    display: none;
}

.navigation ul li b:nth-child(1)::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--secondary-color);
    border-bottom-right-radius: 20px;
}

.navigation ul li b:nth-child(2) {
    position: absolute;
    bottom: -20px;
    height: 20px;
    width: 100%;
    background: var(--light-main-color);
    display: none;
}

.navigation ul li b:nth-child(2)::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--secondary-color);
    border-top-right-radius: 20px;
}

.navigation ul li.active b:nth-child(1),
.navigation ul li.active b:nth-child(2) {
    display: block;
}

.navigation ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: var(--terciary-color);
}

.navigation ul li.active a {
    color: var(--main-color);
}

.navigation ul li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 70px;
    text-align: center;
}

.navigation ul li a .icon ion-icon {
    font-size: 1.5em;
}

.navigation ul li a .title {
    position: relative;
    display: block;
    padding-left: 10px;
    height: 60px;
    line-height: 60px;
    white-space: normal;
}

.toggle {
    position: fixed;
    top: 1.5em;
    left: 6em;
    width: 50px;
    height: 50px;
    background: var(--light-secondary-color);
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.toggle.active {
    left: 20em;
    transition: 0.5s;
}

.toggle ion-icon {
    position: absolute;
    color: var(--terciary-color);
    font-size: 34px;
    display: none;
}

.toggle ion-icon.open, .toggle.active ion-icon.close {
    display: block;
}

.toggle ion-icon.close, .toggle.active ion-icon.open {
    display: none;
}

.toggle-1 {
    position: fixed;
    width: 100vw;
    height: 10vh;
    background: var(--light-main-color);
    display: flex;
    z-index: 1;
}

.height {
    height: 100vh;
}

.row g-0{
    width: 100vw;
    height: 10vh;
    background-color: #333;
}

.nav-top{
    width: 100vw;
    height: 10vh;
    margin-left: -16vh;
    margin-bottom: 20px;
    background-color: #333;
}

.table tr th{
    background-color: #333;
    color: #fff;
    
}

.table tr:nth-child(1){
    background-color:  blue;
    color: #fff;
    height: 5px;
    
}
.table tr:nth-child(2){
    background-color:rgba(0, 0, 255, 0.941);
    color: #fff;
    height: 5px;
    
}
.table tr:nth-child(3){
    background-color:rgba(0, 0, 255, 0.913);
    color: #fff;
    height: 5px;
    
}
.table tr:nth-child(4){
    background-color:rgba(0, 0, 255, 0.845);
    color: #fff;
    height: 5px;
}
    .table tr:nth-child(5){
        background-color:rgba(0, 0, 255, 0.799);
        color: #fff;
        height: 5px;
    }

    .table tr:nth-child(6){
        background-color:rgba(0, 0, 255, 0.758);
        color: #fff;
        height: 5px;
    }
    .table tr:nth-child(7){
        background-color:rgba(0, 0, 255, 0.705);
        color: #fff;
        height: 5px;
    }
    .table tr:nth-child(8){
        background-color:rgba(0, 0, 255, 0.685);
        color: #fff;
        height: 5px;
    }
    .table tr:nth-child(9){
        background-color:rgba(0, 0, 255, 0.66);
        color: #fff;
        height: 5px;
    }
    .table tr:nth-child(10){
        background-color:rgba(0, 0, 255, 0.605);
        color: #fff;
        height: 5px;
    }
    .table tr:nth-child(11){
        background-color:rgba(0, 0, 255, 0.678);
        color: #fff;
        height: 5px;
    }
    .table tr:nth-child(12){
        background-color:rgba(0, 0, 255, 0.614);
        color: #fff;
        height: 5px;
    }
    .table tr:nth-child(13){
        background-color:rgba(0, 0, 255, 0.566);
        color: #fff;
        height: 5px;
    }
    .table tr:nth-child(14){
        background-color:rgba(0, 0, 255, 0.523);
        color: #fff;
        height: 5px;
    }
    .table tr:nth-child(15){
        background-color:rgba(0, 0, 255, 0.498);
        color: #fff;
        height: 5px;
    }
    .table tr:nth-child(16){
        background-color:rgba(0, 0, 255, 0.429);
        color: #fff;
        height: 5px;
    }
    .table tr:nth-child(17){
        background-color:rgba(0, 0, 255, 0.326);
        color: #fff;
        height: 5px;
    }


