@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

:root {
    --main-color: #636464;
    --light-main-color: #c3c4ca;
    --dark-main-color: #1c1c1c;
    --secondary-color: #0729d8;
    --light-secondary-color: #7096d1;
    --terciary-color: white;
}


* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(136deg, var(--terciary-color), var(--light-main-color));
    height: 100vh;
    padding-left: 8vw;
}

/* begin of NAVIGATION BAR */
.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: var(--dark-main-color);
    width: 8vw;
    padding-top: 4vh;
    padding-left: 1.25vw;
    padding-right: 1.25vw;
}

.sidebar-link,
.sidebar-link div,
.exit-link,
.exit-link div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sidebar-link,
.exit-link {
    color: var(--terciary-color);
}

.yamaha-logo {
    width: 100%;
    margin-bottom: 15vh;
}

.sidebar-link div,
.exit-link {
    margin-bottom: 8vh;
    cursor: pointer;
    font-size: 2vmin;
}

.sidebar-link div span,
.exit-link span {
    height: 3px;
    width: 100%;
    background-color: var(--light-main-color);
    margin-bottom: 5px;
}

.home-icon,
.projects-icon,
.exit-icon {
    color: var(--terciary-color);
    font-size: 2em;
    margin-bottom: 1vh;
}

.people-icon {
    color: var(--light-secondary-color);
    font-size: 2em;
    margin-bottom: 1vh;
}

.home-icon:hover,
.people-icon:hover,
.projects-icon:hover,
.exit-icon:hover,
.sidebar-link div:hover,
.exit-link:hover {
    color: var(--light-main-color);
}

.exit-link {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin-bottom: 2vh;
}
/* end of NAVIGATION BAR */

/* begin of SCREEN GRID */
.grid-container-1,
.grid-container-2 {
    display: grid;
    margin-bottom: 2vh;
    margin-left: 2vw;
    margin-right: 2vw;
    column-gap: 2vw;
    grid-template-columns: 3.5fr 6.5fr;
}

.grid-container-1 {
    margin-top: 3vh;
    height: 35%;
}

.grid-container-2 {
    height: 57%;
}

.doughnut-chart {
    width: 100%;
    height: 100%;
    background: green;
}

/* begin of PROJECTS CARDS*/
.grid-container-1-1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons {
    flex: 1;
    height: 32vh;
    background-image: linear-gradient(to bottom, var(--secondary-color), var(--light-secondary-color));
    box-shadow: 0 7px 25px rgba(0,0,0,0.1);
    color: var(--terciary-color);
    border-radius: 20px;
    margin-left: 1vw;
    margin-right: 1vw;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 4vh;
    padding-bottom: 4vh;
}

.icons-1,
.icons-2,
.icons-3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons-1 {
    height: 12vh;
}

.stack-icon {
    font-size: 4em;
}

.icons-2 {
    height: 8vh;
}
.icons-3 {
    height: 4vh;
}
/* end of PROJECTS CARDS*/

/* begin of PROJECT DETAILS */
.grid-container-2-0 {
    border: 3px solid var(--light-main-color);
    background: var(--terciary-color);
    border-radius: 6px;
    padding: 10px;
    position: relative;
}

.grid-container-2-0-0,
.grid-container-2-0-1,
.grid-container-2-0-2,
.grid-container-2-0-5 {
    display: flex;
    flex-direction: row;
    height: 8%;
    margin-bottom: 5px;
}

.grid-container-2-0-0 {
    flex: 1;
    color: var(--terciary-color);
    text-shadow: 2px 2px 2px rgba(0,0,0,0.1);
    font-weight: 800;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    background: var(--light-secondary-color);
    border-radius: 4px;
}

.grid-container-2-0-1,
.grid-container-2-0-2,
.grid-container-2-0-3,
.grid-container-2-0-4,
.grid-container-2-0-5 {
    border: 1px solid var(--light-main-color);
    border-radius: 2px;
}

.grid-container-2-0-1-1,
.grid-container-2-0-2-1,
.grid-container-2-0-5-1 {
    display: flex;
    align-items: center;
    flex: 1;
    font-size: 16px;
}

.grid-container-2-0-1-2 {
    display: flex;
    align-items: center;
    flex: 3;
    font-size: 16px;
    overflow: hidden;
}

.grid-container-2-0-1-1,
.grid-container-2-0-2-1,
.grid-container-2-0-3-1,
.grid-container-2-0-4-1 {
    margin-left: 20px;
}

.grid-container-2-0-1-1,
.grid-container-2-0-1-2,
.grid-container-2-0-5-1 {
    font-weight: bold;
}

.grid-container-2-0-1-1 span,
.grid-container-2-0-1-2 span,
.grid-container-2-0-5-1 span {
    font-weight: normal;
}

.grid-container-2-0-1-1 span,
.grid-container-2-0-1-2 span,
.grid-container-2-0-2-1 span,
.grid-container-2-0-5-1 span {
    margin-left: 5px;
}

.grid-container-2-0-2-1 {
    flex: 1;
    font-weight: bold;
}

.grid-container-2-0-2-1 span {
    font-weight: normal;
}

.grid-container-2-0-3-1,
.grid-container-2-0-4-1 {
    height: 7%;
    display: flex;
    flex-direction: row;
}

.grid-container-2-0-3 {
    display: block;
    height: fit-content;
    max-height: 30%;
    overflow: scroll;
}

.grid-container-2-0-3-1,
.grid-container-2-0-4-1 {
    padding-top: 6px;
    font-weight: bold;

}

.grid-container-2-0-4-2 {
    display: flex;
    flex-direction: row;
}

.grid-container-2-0-3-2 div {
    display: flex;
}

.grid-container-2-0-3-2-1 {
    flex: 3;
}

.grid-container-2-0-3-2-1,
.grid-container-2-0-3-2-2 {
    display: flex;
    justify-content: left;
    padding-left: 4vw;
}

.grid-container-2-0-3-2-2 {
    flex: 2;
}

.grid-container-2-0-4 {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-bottom: 2vh;
}

.grid-container-2-0-4-2-1,
.grid-container-2-0-4-2-2 {
    flex: 1;
    margin-top: 15px;
}
.grid-container-2-0-4-2-1 div,
.grid-container-2-0-4-2-2 div {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.buttonActive {
    margin-left: 2vw;
    margin-right: 2vw;
    border-radius: 10%;
    background-color: var(--light-main-color);
}

.grid-container-2-0-5-1 {
    flex: 1;
}

.grid-container-2-0-5-1 {
    padding-left: 20px;
    overflow: hidden;
}

.btn-primary {
    position: absolute !important;
    bottom: 10px !important;
    right: 20px !important;
    height: 5vh !important;
    width: 8vw !important;
    color: var(--terciary-color) !important;
    background: var(--light-secondary-color) !important;
}

.btn-primary:hover {
    color: var(--light-main-color) !important;
}

.btn-primary:active {
    color: var(--main-color) !important;
    background: var(--secondary-color) !important;
}
/* end of PROJECT DETAILS */
/* begin of PROJECT LIST */
.grid-container-2-1 {
    border: 3px solid var(--light-main-color);
    background: var(--terciary-color);
    border-radius: 6px;
    padding: 10px;
    position: relative;
    overflow: scroll;
}

.grid-container-2-1-0,
.grid-container-2-1-1 {
    display: flex;
    flex-direction: row;
    height: 8%;
    margin-bottom: 5px;
    cursor: pointer;
}

.grid-container-2-1-0 {
    flex: 1;
    color: var(--terciary-color);
    text-shadow: 2px 2px 2px rgba(0,0,0,0.1);
    font-weight: 800;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    background: var(--light-secondary-color);
    border-radius: 4px;
}

.grid-container-2-1-1 {
    border: 1px solid var(--light-main-color);
    border-radius: 2px;
    align-items: center;
}

.grid-container-2-1-1-1,
.grid-container-2-1-1-2,
.grid-container-2-1-1-3 {
    display: flex;
    align-items: center;
    font-size: 16px;
}

.grid-container-2-1-1-1 {
    margin-left: 20px;
    font-weight: bold;
    width: 5vw;
    justify-content: center;
}

.grid-container-2-1-1-2 {
    width: 24vw;
    font-weight: bold;
    justify-content: left;
    padding-left: 3vw;
}

.grid-container-2-1-1-3 {
    width: 15vw;
    font-weight: bold;
    justify-content: left;
}

.grid-container-2-1-1-1 span,
.grid-container-2-1-1-2 span,
.grid-container-2-1-1-3 span {
    font-weight: normal;
    margin-left: 5px;
}

.edit-btn button,
.del-btn button {
    border: none;
    font-size: 20px;
    background-color: var(--terciary-color);
    padding-top: 3px;
}

.del-btn button {
    margin-left: 2vw;
}
/* end of PROJECT LIST */

/* begin of MODAL */
.modal-body {
    display: block !important;
}

.input-box {
    display: flex;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.modal-footer {
    display: block !important;
}
/* end of MODAL */

/* end of SCREEN GRID */