@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

:root {
    --main-color: #636464;
    --light-main-color: #c3c4ca;
    --dark-main-color: #1c1c1c;
    --secondary-color: #0729d8;
    --light-secondary-color: #7096d1;
    --terciary-color: white;
}


* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(136deg, var(--terciary-color), var(--light-main-color));
    height: 100vh;
    padding-left: 8vw;
}

/* begin of NAVIGATION BAR */
.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: var(--dark-main-color);
    width: 8vw;
    padding-top: 4vh;
    padding-left: 1.25vw;
    padding-right: 1.25vw;
}

.sidebar-link,
.sidebar-link div,
.exit-link,
.exit-link div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sidebar-link,
.exit-link {
    color: var(--terciary-color);
}

.yamaha-logo {
    width: 100%;
    margin-bottom: 15vh;
    animation: animate 10s linear infinite;
}

@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.sidebar-link div,
.exit-link {
    margin-bottom: 8vh;
    cursor: pointer;
    font-size: 2vmin;
}

.sidebar-link div span,
.exit-link span {
    height: 3px;
    width: 100%;
    background-color: var(--light-main-color);
    margin-bottom: 5px;
}

.home-icon,
.projects-icon,
.exit-icon {
    color: var(--terciary-color);
    font-size: 2em;
    margin-bottom: 1vh;
}

.people-icon {
    color: var(--light-secondary-color);
    font-size: 2em;
    margin-bottom: 1vh;
}

.home-icon:hover,
.people-icon:hover,
.projects-icon:hover,
.exit-icon:hover,
.sidebar-link div:hover,
.exit-link:hover {
    color: var(--light-main-color);
}

.exit-link {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin-bottom: 2vh;
}
/* end of NAVIGATION BAR */









/* charts */
.dashboard{
    background-color: rgb(243, 243, 243);
}
.graphBox{
    margin-left: 40px;
    position: relative;
    padding: 0 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    min-height: 200px;
}
.graphBox .box{
    position: relative;
    padding: 20px;
    width: 100%;
    box-shadow: 0 7px 25px rgba(0,0,0,0.08);
    transition: .5s;
    background-color: #fff;
    margin-top: 20px;
}

.limite{
    background-color: red;
    width: 530px;
    height: 20px;
    position: absolute;
}


/*-------------------------------------------*/
/*---------------Inicio Icons----------------*/
/*-------------------------------------------*/

.icons-container{
    display: grid;
    margin-left: 40px;
    margin-right: 1.8vw;
    margin-top: 45px;
    margin-bottom: 20px;
    grid-template-columns: repeat(auto-fit, minmax(20.7rem, 1fr));
    gap: 1.5rem;

}
.icons-container .icons{
    display: flex;
    align-items: center;
    padding: 2rem;
    box-shadow: 0 7px 25px rgba(0,0,0,0.08);
    color: #fff;
    background-image: linear-gradient(to bottom, var(--secondary-color) , var(--light-secondary-color));
}
/* .icons-container .blues{
    background-image: linear-gradient(to right, rgb(17, 72, 255) , rgb(57, 241, 254));
}
.icons-container .greens{
    background-image: linear-gradient(to right, rgb(28, 163, 37) ,rgb(90, 254, 57));
}
.icons-container .yellows{
    background-image: linear-gradient(to right, rgb(255, 124, 17) ,rgb(226, 226, 9));
}
.icons-container .reds{
    background-image: linear-gradient(to right, rgb(255, 49, 17) , rgb(254, 142, 57));
} */


.icons-container .icons ion-icon{
    height: 5.9rem;
    width: 5.9rem;
    line-height: 5.9rem;
    font-size: 2.5rem;
    color: #fff;
    text-align: center;
}

.icons-container .icons .content h3{
    color: var(--yellow);
    font-size: 2.5rem;
    cursor: default;
}

.icons-container .icons .content p{
    font-size: 1.5rem;
    cursor: default;
}


