@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
@font-face { 
    font-family: 'slimsans';
    src: url('font/SlimSansSerif-Bold.ttf');
    src: local('slimsans'), local('slimsans'), url('font/SlimSansSerif-Bold.ttf') format('truetype');
 }

:root {
    --main-color: #636464;
    --light-main-color: #c3c4ca;
    --dark-main-color: #5c5b5d;
    --secondary-color: #0729d8;
    --light-secondary-color: #7096d1;
    --terciary-color: white;
}

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    height: 100vh;
    background: var(--light-main-color);
 }

.height {
    height: 100vh;
}

.top-bar {
    background: var(--dark-main-color);
}

.user-box {
    text-align: left;
    padding-top: 0.5em;
}

.logo {
    padding-top: 1em;
    display: flex;
}
.logo img{
    margin-top: 3px;
   
}

.small-logo {
    width: 4em;
    height: 4em;
    border-radius: 50%;
}


.large-logo {
    display: none;
    font-family: 'slimsans';
}

.large-logo.active {
    align-content: center;
    color: #fff;
    display: block;
    font-size: 48px;
    
}
.logo img.active{
    margin-left: 10px;
    margin-right: 18px;
}

.navigation {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background: var(--secondary-color);
    border-left: 0.5em solid var(--secondary-color);
    width: 4.5em;
    box-sizing: initial;
    transition: 0.5s;
    overflow-x: hidden;
    z-index: 1;
    max-height: 100vh;
}

.navigation.active {
    width: 18em;
}

.navigation ul {
    position: absolute;
    top: 8em;
    left: 0;
    width: 100%;
    padding-left: 0.5em;
    padding-top: 2.5em;
}

.navigation ul li {
    position: relative;
    list-style: none;
    width: 100%;
    border-top-left-radius: 1.25em;
    border-bottom-left-radius: 1.25em;
    margin-bottom: 3em;
}

.navigation ul li.active {
    background: var(--light-main-color);
}

.navigation ul li b:nth-child(1) {
    position: absolute;
    top: -20px;
    height: 20px;
    width: 100%;
    background: var(--light-main-color);
    display: none;
}

.navigation ul li b:nth-child(1)::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--secondary-color);
    border-bottom-right-radius: 20px;
}

.navigation ul li b:nth-child(2) {
    position: absolute;
    bottom: -20px;
    height: 20px;
    width: 100%;
    background: var(--light-main-color);
    display: none;
}

.navigation ul li b:nth-child(2)::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--secondary-color);
    border-top-right-radius: 20px;
}

.navigation ul li.active b:nth-child(1),
.navigation ul li.active b:nth-child(2) {
    display: block;
}

.navigation ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: var(--terciary-color);
}

.navigation ul li.active a {
    color: var(--main-color);
}

.navigation ul li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 70px;
    text-align: center;
}

.navigation ul li a .icon ion-icon {
    font-size: 1.5em;
}

.navigation ul li a .title {
    position: relative;
    display: block;
    padding-left: 10px;
    height: 60px;
    line-height: 60px;
    white-space: normal;
}

.toggle {
    position: fixed;
    top: 1.5em;
    left: 6em;
    width: 50px;
    height: 50px;
    background: var(--dark-main-color);
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.toggle.active {
    left: 20em;
    transition: 0.5s;
}

.toggle ion-icon {
    position: absolute;
    color: var(--terciary-color);
    font-size: 34px;
    display: none;
}

.toggle ion-icon.open, .toggle.active ion-icon.close {
    display: block;
}

.toggle ion-icon.close, .toggle.active ion-icon.open {
    display: none;
}

.table tr th{
    background-color: var(--dark-main-color);
    color: var(--terciary-color);
}

.modal-bg{
    background-color: rgba(0, 0, 0, 0.692);
    height: 100vh;
    width: 100vw;
    margin-top: -100vh;
    z-index: 2;
    position: absolute;

    display: none;
}
.modal-show{

    display: block;
}
.modal-bg .modal{
    height: 500px;
    width: 790px;
    margin: auto;
    background-color: var(--terciary-color);
    z-index: 3;
    display: block;
    border-radius: 10px;
    box-shadow: 5px 6px 20px 10px #00000054;
}
.close-btn{
    font-size: 40px;
    float: right;
    margin-right: 25px;
    margin-top: 8px;
}
.close-btn:hover{
    color: var(--secondary-color);
    cursor: pointer;
}
    
.modal-forms{
    margin: 20px ;
    display: flex;
    height: 30px;
    width: 700px;
    background-color: rgb(227, 227, 227);
    border: 1px solid #111;
    border-radius: 5px;
}

.modal-button{
    margin-left: 20px;
    height: 60px;
    width: 100px;
    background-color: var(--light-secondary-color);
    color: var(--terciary-color);
}
.modal .check{
    margin-left: 20px;
}
.modal label{
    margin-left: 5px;
}
.modal-button:hover{
    background-color: var(--secondary-color);
    color: var(--terciary-color);
}
.title{
    margin-left: 20px;
}
.title span{
    color: var(--light-secondary-color);
}